
<div class="document">
  <h3>Document</h3>

  {{#if id}}
    <input type="hidden" name="document[{{#if index}}{{index}}{{else}}{{@index}}{{/if}}][id]" value="{{id}}"/>
  {{/if}}

  <div class="form-group required">
    <label class="control-label col-sm-2">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="document[{{#if index}}{{index}}{{else}}{{@index}}{{/if}}][title]" value="{{title}}" required/>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">Head</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="document[{{#if index}}{{index}}{{else}}{{@index}}{{/if}}][head]" rows="10">{{head}}</textarea>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">Body</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="document[{{#if index}}{{index}}{{else}}{{@index}}{{/if}}][body]" rows="10">{{body}}</textarea>
    </div>
  </div>
</div>