<h1 class="page-header">{{testcase.name}}</h1>

<p>{{testcase.desc}} <a href="/{{testcase.slug}}/edit">Edit this testcase</a>.</p>


{{#each documents}}
<h2>{{title}}</h2>

<pre><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;{{title}}&lt;/title&gt;{{#if head}}
    {{head}}{{/if}}
  &lt;/head&gt;
  &lt;body&gt;{{#if body}}
    {{body}}{{/if}}
  &lt;/body&gt;
&lt;/html&gt;
</code></pre>
{{/each}}

<p>
  <button class="btn btn-default" id="start">Start</button>
</p>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Document</th>
      <th>Normal</th>
      <th>No Cache</th>
    </tr>
  </thead>
  <tbody>

    {{#each documents}}
    <tr>
      <td>{{@index}}</td>
      <td>{{title}}</td>
      <td class="js-cache"></td>
      <td class="js-nocache"></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<a href="/">Return Home</a>

<script id="documents" type="text/json">
{{{documentJson}}}
</script>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/runner.js"></script>
<link rel="stylesheet" href="/stylesheets/highlight.css">
<script src="/javascripts/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>