<h1 class="page-header">{{testcase.name}}</h1> 

<p>{{testcase.desc}} <a href="/{{testcase.slug}}/edit">Edit this testcase</a>.</p>


<p>
  <button class="btn btn-default" id="start">Start</button>
</p>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Document</th>
      <th>DOM Complete</th>
      <th>onload</th>
    </tr>
  </thead>
  <tbody>

    {{#each documents}}
    <tr>
      <td>{{@index}}</td>
      <td>{{this.title}}</td>
      <td class="js-dom-complete"></td>
      <td class="js-onload"></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<a href="/">Return Home</a>

<script id="documents" type="text/json">
{{{documentJson}}}
</script>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/runner.js"></script>