<h1>{{testcase.name}}</h1>

<h2>Info</h2>
<p>{{testcase.desc}}</p>

<button id="start">Start</button>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Document</th>
      <th>Time (ms)</th>
    </tr>
  </thead>
  <tbody>

    {{#each snippets}}
    <tr>
      <td>{{@index}}</td>
      <td>{{this.title}}</td>
      <td class="time"></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<script id="documents" type="text/json">
{{{snippetJson}}}
</script>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/runner.js"></script>